* {
    padding: 0;
    margin: 0;
}
.pointer {
    cursor: pointer;
}
/* styling of images */
#imgContainer img {
    width: 200px;
    margin: 10px;
    cursor: pointer;
    border: 4px #0d6efd solid;
}
.selectedImg {
    border: 4px red solid !important;
}
/* styling of buttons */
#btnContainer button {
    margin: 4px;
    box-shadow: none;
    background-color: #198754;
    border: 4px darkgreen solid;
}
.selectedBtn {
    color: #fff;
    background-color: #157347 !important;
    border: 4px red solid !important;
    box-shadow: none !important;
}
/* styling of timer */
#timerContainer {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 0;
}
#timer {
    width: 100%;
    transition: linear 1100ms;
}
